<template name="manageCategory">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-3">
					{{> adminmenu}}
				</div>
				<div class="col-md-9">
                    <p class="breadcrumb">
                        All Categories
                    </p>
					<table class="table table-responsive">
						<thead>
							<tr>
								<th>#</th>
								<th>Title</th>
								<th>Parent</th>
								<th colspan="3">Action</th>
							</tr>
						</thead>
						<tbody>
							{{#each manageCat}}
									<tr>
										<td>{{index}}</td>
										<td>{{title}}</td>
										<td>{{catName parent}}</td>
										<td><a class="glyphicon glyphicon-trash center-block" href="" id="remove"></a></td>
										<td><a class="glyphicon glyphicon-edit center-block" href="updateCategory/{{_id}}"></a></td>
										
									</tr>
							{{/each}}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</template>