<template name="header">
	<div class="container">
		<div id='cssmenu'>
		<ul>
		   <li><a href='#'>Category1</a></li>
		   <li class='active has-sub'><a href='#'>Category2</a>
		      <ul>
		         <li class='has-sub'><a href='#'>Sub Category2</a>
		            <ul>
		               <li><a href='#'>Sub Sub Category2</a></li>
		               <li><a href='#'>Sub Sub Category2</a></li>
		            </ul>
		         </li>
		         <li class='has-sub'><a href='#'>Category3</a>
		            <ul>
		               <li><a href='#'>Sub Sub Category3</a></li>
		               <li><a href='#'>Sub Sub Category3</a></li>
		            </ul>
		         </li>
		      </ul>
		   </li>
		   <li><a href='#'>Category4</a></li>
		   <li><a href='#'>Category5</a></li>
		   	<div class="box pull-right">
		  <div class="container-4">
		    <input type="search" id="search" placeholder="Search..." />
		    <button class="icon"><i class="fa fa-search"></i></button>
		  </div>
		</div>
		</ul>
	
</div>
</div>
</template>