<template name="admin">
	<div class="admin">
		<div class="container">
		  <h3>Welcome to Admin Page</h3>
		  <div class="col-sm-12">
		  	<div class="col-sm-4">
		  		<ul class="nav nav-pills nav-stacked">
				    <li class="active"><a href="managesubmit">managesubmit</a></li>
				   <!--  <li class="dropdown">
				      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu 1 <span class="caret"></span></a>
				      <ul class="dropdown-menu">
				        <li><a href="#">Submenu 1-1</a></li>
				        <li><a href="#">Submenu 1-2</a></li>
				        <li><a href="#">Submenu 1-3</a></li>                        
				      </ul>
				    </li> -->
				    <li><a href="manageCategory">manageCategory</a></li>
				    <li><a href="addcategory">addcategory</a></li>
				    <li><a href="updateCategory">updateCategory</a></li>
				    <li><a href="manageAdvertise">manageAdvertise</a></li>
				    <li><a href="addadvertise">addadvertise</a></li>
				    <li><a href="updateAdvertise">updateAdvertise</a></li>
				    <li><a href="profileAuthor">profileAuthor</a></li>
				    <li><a href="editprofileAuthor">editprofileAuthor</a></li>
				  </ul>
		  	</div>
		  </div>
		</div>
	</div>
</template>