<template name="adminmenu">
	<div class="col-md-12">
		<ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
			{{#if isInRole 'Admin'}}
			    <li class="active">
			    	<a href="/admin"><span class="glyphicon glyphicon-off"></span> Overview</a>
			    </li>
			    <li>
			    	<a href="/admin/managesubmit"><span class="glyphicon glyphicon-user"></span>  Manage Post</a>
			    </li>
			    <li>
			    	<a href="/admin/submit"><span class="glyphicon glyphicon-user"></span> Add Post</a>
			    </li>
			    <li>
			    	<a href="/admin/manageCategory"><span class="glyphicon glyphicon-user"></span>Manage Categories</a>
			    </li>
			    <li>
			    	<a href="/admin/addcategory"><span class="glyphicon glyphicon-user"></span> Add Categories</a>
			    </li>
			     <li>
			     	<a href="/admin/adduser"><span class="glyphicon glyphicon-list"></span>  Add User</a>
			     </li>
			     <li>
			     	<a href="/admin/manageuser"><span class="glyphicon glyphicon-list"></span>  List User</a>
			     </li>
			    <li>
			    	<a href="#"><span class="glyphicon glyphicon-signal"></span>  Setting</a>
			    </li>
		    {{else}}
		    	<li class="active">
		    		<a href="/admin"><span class="glyphicon glyphicon-off"></span> Overview</a></li>
		    	<li>
		    		<a href="/admin/managesubmit"><span class="glyphicon glyphicon-user"></span>  Manage Post</a></li>
		    	<li>
		    		<a href="/admin/submit"><span class="glyphicon glyphicon-user"></span> Add Post</a>
		    	</li>
		    {{/if}}
		</ul>
	</div>
</template>